.full-width{
    width:80%;
    position:center;
    margin-left: 50px;
}

/* .body{
    background-image: url(../../../assets/backg.jpg);
} */

.mat-card {
    box-shadow:  1px 5px 9px 0 rgba(0,0,0,1);
    width: 80%;
    height: 110%;
}

.box{
    margin-left: 170px;
    margin-top: 70px;
}