<router-outlet></router-outlet>

<div style="width: 95vw" class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
      <h3>Create a Buyer</h3>
      <p class="blue-text">Just fill the details below.</p>
      <div class="card">
        <h5 class="text-center mb-4">Enter your details below</h5>

        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">First name<span class="text-danger"> *</span></label>
            <input type="text" id="fname" [(ngModel)]="buyerData.fName" placeholder="Enter your first name" />
            <div class="text-danger"> <small>{{fNamemsg}}</small> </div>
          </div>
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label>
            <input type="text" id="lname" [(ngModel)]="buyerData.lName" placeholder="Enter your last name" />
          </div>
          <div class="text-danger"> <small>{{lNamemsg}}</small> </div>

        </div>
        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Personal email<span class="text-danger"> *</span></label>
            <input type="email" id="email" [(ngModel)]="buyerData.email" placeholder="" />
            <div class="text-danger"> <small>{{emailmsg}}</small> </div>

          </div>
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Phone number<span class="text-danger"> *</span></label>
            <input type="text" id="mob" [(ngModel)]="buyerData.phoneNumber" placeholder="" />
            <div class="text-danger"> <small>{{phoneNumbermsg}}</small> </div>

          </div>
        </div>
        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">PAN Number<span class="text-danger"> *</span></label>
            <input type="text" id="pan" [(ngModel)]="buyerData.pan" placeholder="" />
            <div class="text-danger"> <small>{{pan}}</small> </div>

          </div>
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Adhar Number<span class="text-danger"> *</span></label>
            <input type="text" id="aadhar" [(ngModel)]="buyerData.adhar" placeholder="" />
            <div class="text-danger"> <small>{{adharmsg}}</small> </div>

          </div>
        </div>
        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">PAssword<span class="text-danger"> *</span></label>
            <input type="text" id="pan" [(ngModel)]="buyerData.password" placeholder="" />
            <div class="text-danger"> <small>{{passwordmsg}}</small> </div>

          </div>
          <div class="form-group col-sm-6 flex-column d-flex">
            <label class="form-control-label px-3">Enter valid custmer No<span class="text-danger"> *</span></label>
            <input type="text" id="aadhar" [(ngModel)]="buyerData.customerId" placeholder="" />
            <div class="text-danger"> <small>{{customerIdmsg}}</small> </div>

          </div>
        </div>

        <div class="row justify-content-end">
          <div class="form-group col-sm-6">
            <button type="submit" (click)="createBuyer()" class="btn-block btn-primary">
              Create Buyer account
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>