<router-outlet></router-outlet>
<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
      <h3>Create Account</h3>
      <p class="blue-text">Just fill the details below.</p>
      <div class="card">
        <h5 class="text-center mb-4">Enter details below</h5>
      
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">First
                name<span class="text-danger"> *</span></label> <input type="text" id="fname"
                [(ngModel)]="sellerData.fName" placeholder="Enter your first name"> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Last name<span
                  class="text-danger"> *</span></label> <input type="text" id="lname" [(ngModel)]="sellerData.lName"
                placeholder="Enter your last name"> </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Personal
                email<span class="text-danger"> *</span></label> <input type="text" id="email"
                [(ngModel)]="sellerData.email" placeholder=""> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Phone
                number<span class="text-danger"> *</span></label> <input type="text" id="mob"
                [(ngModel)]="sellerData.phoneNumber" placeholder=""> </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">PAN
                Number<span class="text-danger"> *</span></label> <input type="text" id="pan"
                [(ngModel)]="sellerData.pan" placeholder=""> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Adhar
                Number<span class="text-danger"> *</span></label> <input type="text" id="aadhar"
                [(ngModel)]="sellerData.adhar" placeholder=""> </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">PAssword<span
                  class="text-danger"> *</span></label> <input type="text" id="pan" [(ngModel)]="sellerData.password"
                placeholder=""> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Enter valid
                custmer Number<span class="text-danger"> *</span></label> <input type="text" id="aadhar"
                [(ngModel)]="sellerData.customerId" placeholder=""> </div>
          </div>

          <div class="row justify-content-end">
            <div class="form-group col-sm-6"> <button type="submit" (click)="createSeller()"
                class="btn-block btn-primary">Create account
              </button> </div>
          </div>
      </div>
    </div>
  </div>
</div>
