<main class="form-signin">

    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/100/000000/external-building-landscape-vitaliy-gorbachev-blue-vitaly-gorbachev.png" alt="" width="72" height="57">
        <h2>SignIn Here</h2>
     </div>
      <div class="form-floating">
        <input [(ngModel)]="user.email" required type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <br>
      <div class="form-floating">
        <input [(ngModel)]="user.password" required type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3 text-danger">
        {{msg}}
      </div>
      <div class="check">
        <input [(ngModel)]="user.user"  (click)="typeOfUser('buyer')" class="form-check-input" type="radio" name="IAmBuyer" id="IAmBuyer" value="buyer" [checked]="currentlyChecked === check_box_type.BUYER" (click)="selectCheckBox(check_box_type.BUYER)">
        <label class="form-check-label" for="IAmBuyer">
            I am Buyer.
        </label>
    </div>
    <div class="check">
        <input  [(ngModel)]="user.user" (click)="typeOfUser('seller')" class="form-check-input" type="radio" name="IAmSeller" id="IAmSeller" value="seller" [checked]="currentlyChecked === check_box_type.SELLER" (click)="selectCheckBox(check_box_type.SELLER)">
        <label class="form-check-label" for="IAmSeller">
            I am Seller.
         </label>
         <br>
         <a href="signup"  class="w-100" type="submit">click here to Sign up</a>

    </div>
    <br>
      <button (click)="createAccount()" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021–2020</p>
  </main>
  